:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: #333;
  min-width: 375px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h4 {
  color: #a1a1a1;
  font-weight: 400;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #535bf2;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover,
button:focus {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

input {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 10px;
  font-size: 14px;
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 30px;
  margin: 20px auto 0;
  aspect-ratio: 2.5;
  --_g: no-repeat radial-gradient(farthest-side,#535bf2 90%,#0000);
  background:var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 20% 50%;
  animation: l43 1s infinite linear; 
}
@keyframes l43 {
  0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
  66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
  83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
  100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: none;
    min-width: 728px;
    padding: 50px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    padding: 100px 30px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #747bff;
    color: white;
  }
}
